li {
    list-style: none;
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed */
}

img {
    max-width: 150px; /* Adjust the maximum width of the images as needed */
    height: auto;
    display: block;
    margin: 0 auto;
}